/* Color Palette */
/* #F2F5F0; White Smoke */
/* #98B6C8; Light Steel Blue */  
/* #24536F; Dark Slate Blue */
/* #D47527; Chocolate */
/* #BB2278; Medium Violet Red */

/* Fonts */
/* Roboto */

body {
    /* background image relative to this file */
    background-image: url("../img/background.png");
    /* scales the background */
    background-size: 25%;
}

#content {
    /* centers the element */
    margin: auto;
    /* defines width and height of element */
    width: 800px;
    height: 100%;
    /* styles background and border */
    background: lightblue;
    border: 4px solid white; /* this is a 4px thick, solid (not dashed), white border*/
    border-radius: 10px;
    /* this makes so the width's border is counted in the height, removing the scrollbar in the body  */
    box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
}